<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TinyURL</title>
</head>

<body>
    <h1>Login...</h1>
    <form action="/login" method="POST">
        <label for="username">Email:</label>
        <input id="username" type="text" name="username" placeholder="Email" style="width: 259px">
        
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Password" style="width: 259px">
        <input type="submit" value="Submit">
    </form>
</body>
<p><a href="http://localhost:8080/register"><button>Register Here</button></a></p>

</html>