<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
        <% include partials/_header %>
    </header>
    <h1>Shorten URL's</h1>
    <% for(let key in urls) { %>
       <li><a href="localhost:8080/u/<%= key %>"><%= key %></a>  = <%= urls[key] %></li>
    <% } %>
    <div></div>
    <h2><a href="localhost:8080"> Shrink your URL here</a></h2>
</body>
</html>