<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
        <% include partials/_header %>
    </header>
        <% for(let key in urls) { %>
       <li><a href="localhost:8080/u/<%= key %>"><%= key %></a>  = <%= urls[key] %><form method="POST" action="/urls/<%= key %>/delete"><input type="submit" class="btn" value="Delete Me" /></form></li>
    <% } %>
    <div></div>
    <h2><a target="_self" href="http://localhost:8080"> Shrink your URL here</a></h2>
</body>
</html>
